html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    cursor: url(images/blue_ribbon.png), auto !important;
}

header {
    display: grid;
    background-color: #0E142D;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

#logo {
    max-height: 14em;
    max-width: 14em;
}

.header-text {
    color: #0299A4;
    font-size: x-large;
}

.title {
    margin: 0;
    padding: .25em 0;
}

.header-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #BCB9AE;
}

main {
    background-color: #233041;
    font-size: xx-large;
    padding-top: 1em;
}

h2 {
    text-align: center;
    background: #0E142D;
    box-shadow: 0 10px 10px #0299A4, 0 -10px 10px #0299A4;
    border-radius: 30%;
    margin: 0 10%;
    padding: 5%;
    color: #BCB9AE;
}

.box {
    display: grid;
    grid-template-columns: 1 / 3;
    grid-template-rows: 1 / 3;
    align-items: center;
}

.box a {
    text-decoration: underline;
}

h3 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 1em 1em 0 2em;
    color: #0299A4;
}

i {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1em;
    color: #0299A4;
}

p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 1em;
    text-align: center;
    color: #BCB9AE;
}

.p-link {
    text-decoration: underline;
    color: #0299A4;
}

footer {
    background-color: #0E142D;
    color: #BCB9AE;
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1 / 3;
    grid-template-rows: 1 / 3;
    font-size: x-large;
    padding-top: 1em;
    
}

.policy {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
}

.sitemap {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    margin: 0;
}

.copyright {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: right;
    margin: 0;
}

@media(max-width: 490px){

    #logo {
        height: 100%;
        width: 100%;
    }

    h1 {
        color: #0299A4;
        margin: 0;
        padding: 5px 0 0 10px !important;
        font-size: larger;
        text-align: left!important;
    }

    .header-links {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        text-align: right!important;
        grid-column-start: grid-end;
        padding: 0 10px 5px 0;
    }
    
    .box > i {
        display: none;
    }
    
    h3 {
        text-align: center;
        margin-top: 1em;
    }
    
    main {
        font-size: medium!important;
    }
}

@media(max-width: 770px) {
    
    .header {
        display: grid;
    }
    
    .title {
        text-align: center;
    }
    
    .header-links {
        gap: 5px;
        text-align: center;
        font-size: large;
    }
    
    main {
        font-size: medium;
    }
    
    footer {
        font-size: small;
    }
}