html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 8%;
    background-color: #0E142D;
}

#logo {
    max-height: 14em;
    max-width: 14em;
}

.title {
    margin-top: 2em;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #0299A4;
    margin-top: -2em;
}

.header-links {
    display: flex;
    height: 15%;
    width: 55%;
    align-items: flex-end;
    justify-content: space-around;
    margin: auto auto 2em auto;
}

a {
    text-decoration: none;
    color: #BCB9AE;
}

main {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #233041;
}


h2 {
    color: #bcb9ae;
    text-align: center;
}

h3 {
    color: #bcb9ae;
    text-align: center;
    padding-bottom: 50px;
}

section {
    color: #BCB9AE;
    display: grid;
    gap: 20px;
    grid-template-columns: 1 / 4;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-content: center;
}

p {
    /*background: #878c66;*/
    box-shadow: 0 10px 10px #0299A4, 0 -10px 10px #0299A4;
    padding: 20px;
    align-self: center;
    font-size: x-large;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 30%;
}

.two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 30%;
}

.three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-radius: 30%;
}

.four {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 30%;
}

.five {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 30%;
}

.six {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 30%;
}

.seven {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 30%;
}

.eight {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 30%;
}

.nine {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-radius: 30%;
}

.footer {
    background-color: #0E142D;
    color: #BCB9AE;
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1 / 3;
    grid-template-rows: 1 / 3;
}

.policy {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    box-shadow: none;
}

.sitemap {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    margin: 0;
    box-shadow: none;
}

.copyright {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: right;
    margin: 0;
    box-shadow: none;
}

@media (max-width: 490px) {
    header {
        display: flex;
        width: 102%;
        height: 7%;
        background-color: #0E142D;
    }

    #logo {
        height: 100%;
        width: 50%;
    }

    .header-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #0299A4;
        margin: -2em auto auto 1em;
    }

    h1 {
        color: #0299A4;
        margin-top: 1em;
    }

    .header-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        width: 18em;
    }

    section {
        display: block;
    }
}
