html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
}

header {
    display: grid;
    background-color: #0E142D;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

#logo {
    max-height: 14em;
    max-width: 14em;
}

.header-text {
    color: #0299A4;
    font-size: x-large;
}

.header-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #BCB9AE;
}

main {
    padding: 1em;
    justify-content: center;
    background-color: #233041;
}


h3 {
    color: #bcb9ae;
    text-align: center;
    padding-bottom: 50px;
}

section {
    color: #BCB9AE;
    display: grid;
    gap: 20px;
    grid-template-columns: 1 / 4;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-content: center;
}

p {
    background: #0E142D;
    box-shadow: 0 10px 10px #0299A4, 0 -10px 10px #0299A4;
    padding: 20px;
    align-self: center;
    font-size: x-large;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 30%;
}

.two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 30%;
}

.three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-radius: 30%;
}

.four {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 30%;
}

.five {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 30%;
}

.six {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 30%;
}

.seven {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 30%;
}

.eight {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 30%;
}

.nine {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-radius: 30%;
}

article {
    font-size: x-large
}

h2 {
    color: #0299A4;
    text-align: center;
}

.donate {
    text-decoration: underline;
}

.footer {
    background-color: #0E142D;
    color: #BCB9AE;
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1 / 3;
    grid-template-rows: 1 / 3;
    padding-top: 1em;
}

.policy {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    box-shadow: none;
}

.sitemap {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    margin: 0;
    box-shadow: none;
}

.copyright {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: right;
    margin: 0;
    box-shadow: none;
}

@media (max-width: 490px) {
    
    #logo {
        height: 100%;
        width: 100%;
    }

    h1 {
        color: #0299A4;
        margin: 0;
        padding: 5px 0 0 10px;
    }

    .header-links {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        text-align: right;
        grid-column-start: grid-end;
        padding: 0 10px 5px 0;
    }

    section {
        display: block;
    }
    
    article {
        margin-top: 2em;
    }
}

@media(max-width: 800px) {
    
    .header {
        display: grid;
    }
    
    .header-text {
        font-size: large;
    }
    
    .header-links {
        gap: 5px;
        
    }
    
    main {
        font-size: x-large;
    }
    
    article {
        font-size: large!important;
    }
}
