html {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /*width: 100vw;*/
    /*height: 137em;*/
    background-color: #BCB9AE;
    cursor: url(images/blue_ribbon.png), auto!important;
}

header {
    display: grid;
    background-color: #0E142D;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

#logo {
    max-height: 14em;
    max-width: 14em;
}

.header-text {
    color: #0299A4;
}

.title {
    margin: 32px 0;
}

.header-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: #BCB9AE;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #233041;
}

h2 {
    margin: 10px;
}

p {
    padding-bottom: 10px
}

#stats-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 11em 0em;
    background-color: #BCB9AE;
}

.stats-blur {
    border-radius: 1em;
    background-image: url(./images/SA-SpeakUp.png);
    position: absolute;
    align-self: center;
    height: 85%;
    width: 90%;
    background-size: cover;
}

.stats {
    margin-top: -6.7em;
    padding-top: 6.8em;
    height: 80%;
    width: 85%;
    display: flex;
    align-self: center;
}


#stats-wrapper:hover #pie {
    opacity: 1;
    transition-delay: 0.7s;
}

#stats-wrapper:hover .stats-blur {
    filter: blur(8px);
    transition-delay: 0.6s;
}

#pie {
    opacity: 0;
    transition: 0s;
    background-color: #0E142D;
    color: #BCB9AE;
    border-radius: 55%;
    margin-top: 1em;
    display: flex;
    overflow-wrap: anywhere;
    text-align: center;
    width: 65%;
    padding: 6.9em;
    font-size: 120%;
    margin-top: 1em;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: #0299A4;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    justify-self: center;
    align-self: center;
    font-size: 0.7em;
    font-weight: bold;
    font-family: sans-serif;
}


.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

/*.pie:after {*/
/*  inset: calc(50% - var(--b)/2);*/
/*background: var(--c);*/
/*  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));*/
/*}*/
.animate {
    animation: p 3s 1.5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

@property --p {
    transition-delay: 0.6s;
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}

#justice {
    width: 95%;
    background-color: #0E142D;
    display: flex;
    justify-content: space-between;
    color: #A88C66;
    font-size: 1.549em;
    margin: 2.27em auto 2.7em;
    border-radius: 2em;
    height: 100%;
}

.justice-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 36%;
    padding: 7% 0;
    margin: auto 3em auto;
    padding-bottom: 5%;
}

.lady-justice {
    width: 65%;
    background-image: url(./images/ladyjustice.png);
    background-size: cover;
    background-position: 40% 36.5%;
    border-radius: 2em;
    box-shadow: 1.5em 0 1.5em 0px #0E142D inset;
}

#not-alone {
    width: 100%;
    background-color: #233041;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#imgs-container {
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
}

.not-alone-img {
    border-radius: 25%;
    height: 17em;
    width: 10em;
}

h1 {
    color: #0299A4;
    margin: 0;
    font-size: 3em;
}

.blurb-wrapper {
    display: flex;
    border-radius: 2em;
    width: 85%;
    background-color: #0E142D;
    margin: 2em auto 2em auto;
}

.alone-blurb {
    margin: auto;
    color: #BCB9AE;
    font-size: 1em;
    padding: 1.5em;
}

footer {
    background-color: #0E142D;
    color: #BCB9AE;
    display: grid;
    gap: 1px;
    justify-content: flex-end;
    grid-template-columns: 1 / 3;
    grid-template-rows: 1 / 3;
    font-size: x-large;
}

.policy {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    padding: 24px;
}

.sitemap {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    margin: 0;
    padding: 24px;
}

.copyright {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: right;
    margin: 0;
    padding: 24px;
}

@media (max-width: 768px) {
    header {
        display: flex;
        width: 100%;
        height: 9%;
        background-color: #0E142D;
    }

    #logo {
        height: 100%;
        width: 50%;
    }

    .title {
        font-size: 2em;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        color: #0299A4;
        margin: 1.23em auto;
    }

    .header-links {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        width: 100%;
        padding: 5px 0 0;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100vw;
        background-color: #BCB9AE;
    }

    main {
        /*width: 102%;*/
        /*height: 130%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #stats-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .stats {
        margin-top: -8em;
        display: flex;
        align-items: center;
        height: 45%;
        justify-self: space-between;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .stats-blur {
        display: none;
    }

    #pie {
        opacity: 1;
        transition: 0s;
        display: flex;
        flex-direction: column;
        background-color: #0E142D;
        color: #BCB9AE;
        border-radius: 55%;
        margin-top: 1em;
        margin: 5px;
        font-size: 2.5em;
        padding: 2.5em;
        text-align: center;
    }

    #justice {
        height: 45.5em;
        width: 100%;
        background-color: #0E142D;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        color: #A88C66;
        font-size: 0.8em;
    }

    .justice-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin-left: 4em;
    }

    .lady-justice {
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        background-position: 46% 25.5%;
        box-shadow: 0 0 0.5em 0.5em #0E142D inset;
    }

    /*.blurb-wrapper {*/
    /*    display: flex;*/
    /*    border-radius: 2em;*/
    /*    height: 14em;*/
    /*    width: 93%;*/
    /*    background-color: #0E142D;*/
    /*    color: #BCB9AE;*/
    /*    margin: 2em auto 2.3em auto;*/
    /*}*/

    /*.alone-blurb {*/
    /*    margin: auto;*/
    /*    color: #BCB9AE;*/
    /*    font-size: 1em;*/
    /*    margin: 0.5em;*/
    /*}*/

    .header-links {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        width: 100%;
        padding: 5px 0 0 0;
    }
}


@media (max-width: 490px) {

    .title {
        margin: 0 1em 0 0;
    }


    .header-links {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
        text-align: right;
        margin: 0 1em 0 0;
        flex-direction: column;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100vw;
        background-color: #BCB9AE;
    }

    main {
        /*width: 102%;*/
        /*height: 130%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #stats-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .stats {
        margin-top: -8em;
        display: flex;
        align-items: center;
        height: 45%;
        justify-self: space-between;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .stats-blur {
        display: none;
    }

    #pie {
        opacity: 1;
        transition: 0s;
        display: flex;
        flex-direction: column;
        background-color: #0E142D;
        color: #BCB9AE;
        border-radius: 55%;
        margin-top: 1em;
        margin: 5px;
        font-size: 2.5em;
        padding: 2.5em;
        text-align: center;
    }

    #justice {
        height: 45.5em;
        width: 100%;
        background-color: #0E142D;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        color: #A88C66;
        font-size: 0.8em;
    }

    .justice-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin-left: 4em;
    }

    .lady-justice {
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        background-position: 46% 25.5%;
        box-shadow: 0 0 0.5em 0.5em #0E142D inset;
    }

    .blurb-wrapper {
        display: flex;
        border-radius: 2em;
        height: 14em;
        width: 93%;
        background-color: #0E142D;
        color: #BCB9AE;
        margin: 2em auto 2em auto;
    }

    p {
        font-size: small
    }

    .alone-blurb {
        color: #BCB9AE;
        font-size: small !important
    }

    footer {
        /*padding-right: 2%;*/
        background-color: #0E142D;
        display: grid;
        width: 100%;
        justify-content: flex-end;
    }
}

@media screen and (min-device-width: 490) and (max-width: 560px) {
    .blurb-wrapper {
        margin: 0.5em 0;
    }

    .alone-blurb {
        font-size: 1.5em;
    }
}

@media screen and (min-device-width: 560) and (max-width: 769px) {
    header {
        display: flex;
        width: 100%;
        height: 9%;
        background-color: #0E142D;
    }

    #logo {
        height: 100%;
        width: 50%;
    }

    .title {
        font-size: 2em;
        margin: 0 1em 0 0;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        color: #0299A4;
        margin: 1.5em auto;
    }

    #pie {
        font-size: 2em;
    }

    #stats-wrapper {
        padding: 12em 0em;
    }

    #justice {
        height: 45.5em;
        width: 100%;
        background-color: #0E142D;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        color: #A88C66;
        font-size: 0.8em;
    }

    .justice-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin-left: 4em;
    }

    .lady-justice {
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        background-position: 46% 25.5%;
        box-shadow: 0 0 0.5em 0.5em #0E142D inset;
    }

    .alone-blurb {
        font-size: 1.5em;
    }


}

/*@media screen and (min-device-width: 570) and (max-width: 769px) {*/
/*    #justice {*/
/*        height: 45.5em;*/
/*        width: 100%;*/
/*        background-color: #0E142D;*/
/*        display: flex;*/
/*        flex-direction: column-reverse;*/
/*        justify-content: space-around;*/
/*        color: #A88C66;*/
/*        font-size: 0.8em;*/
/*    }*/

/*    .justice-text {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        text-align: center;*/
/*        width: 80%;*/
/*        margin-left: 4em;*/
/*    }*/

/*    .lady-justice {*/
/*        height: 100%;*/
/*        width: 100%;*/
/*        margin: auto;*/
/*        background-size: cover;*/
/*        background-position: 46% 25.5%;*/
/*        box-shadow: 0 0 0.5em 0.5em #0E142D inset;*/
/*    }*/
/*}*/

@media screen and (min-device-width: 769px) and (max-width: 870px) {
    #pie {
        font-size: 63%;
    }

    .stats-blur {
        height: 80%;
        background-position: 46% 26%;
    }

    #stats-wrapper {
        padding: 12em 0em;
    }

    #justice {
        height: 45.5em;
        width: 100%;
        background-color: #0E142D;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        color: #A88C66;
        font-size: 0.8em;
    }

    .justice-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin-left: 4em;
    }

    .lady-justice {
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        background-position: 46% 25.5%;
        box-shadow: 0 0 0.5em 0.5em #0E142D inset;
    }

    .blurb-wrapper {
        display: flex;
        border-radius: 2em;
        height: 14em;
        width: 93%;
        background-color: #0E142D;
        color: #BCB9AE;
        margin: 2em auto 2em auto;
    }

}

@media screen and (min-device-width: 870px) and (max-width: 1000px) {
    #pie {
        font-size: 74%;
    }

    .stats-blur {
        background-position: 70% 40.5%;
    }

    #stats-wrapper {
        padding: 12em 0em;
    }

    #justice {
        height: 45.5em;
        width: 100%;
        background-color: #0E142D;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        color: #A88C66;
        font-size: 0.8em;
    }

    .justice-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin-left: 4em;
    }

    .lady-justice {
        height: 100%;
        width: 100%;
        margin: auto;
        background-size: cover;
        background-position: 46% 24%;
        box-shadow: 0 0 0.5em 0.5em #0E142D inset;
    }

    .blurb-wrapper {
        display: flex;
        border-radius: 2em;
        height: 14em;
        width: 93%;
        background-color: #0E142D;
        color: #BCB9AE;
        margin: 2em auto 2em auto;
    }

}

@media screen and (min-device-width: 1000px) and (max-device-width: 1100px) {
    #pie {
        font-size: 84%;
    }

    #stats-wrapper {
        padding: 12em 0em;
    }
    
    .alone-blurb {
        margin: auto;
        color: #BCB9AE;
        font-size: 1.5em;
        padding: 1em;
    }
}

@media screen and (min-device-width: 1100px) and (max-device-width: 1200px) {
    #pie {
        font-size: 94%;
    }

    #stats-wrapper {
        padding: 12em 0em;
    }
    
    .alone-blurb {
        margin: auto;
        color: #BCB9AE;
        font-size: 1.5em;
        padding: 1.3em;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1370px) {
    #pie {
        font-size: 100%;
    }

    #stats-wrapper {
        padding: 12em 0em;
    }
    
    .alone-blurb {
        margin: auto;
        color: #BCB9AE;
        font-size: 1.5em;
        padding: 1.3em;
    }
}

@media screen and (min-device-width: 1300px) and (max-device-width: 1370px) {
    #pie {
        font-size: 107%;
    }
    
    .alone-blurb {
        margin: auto;
        color: #BCB9AE;
        font-size: 1.5em;
        padding: 1.5em;
    }
}

@media screen and (min-device-width: 1370px) and (max-device-width: 1440px) {
    #pie {
        font-size: 118%;
        margin-top: 16em;
    }

    #stats-wrapper {
        padding: 2em 0em;
    }

    .alone-blurb {
        margin: auto;
        color: #BCB9AE;
        font-size: 1.5em;
        padding: 1.7em;
    }
}

@media(max-width: 800px) {

    .header {
        display: grid;
    }
    
    .title {
        text-align: center;
        margin: 0;
        padding: 15px;
    }

    .header-links {
        gap: 5px;
        text-align: center;
        font-size: large;
    }

    .justice-blurb {
        font-size: large
    }

    /*.alone-blurb {*/
    /*    font-size: large*/
    /*}*/
}
